---
import {MobileNav} from "./MobileNav.jsx";

const links = [
    {name: "Home", href: "/"},
    {name: "Tutors", href: "/tutors"},
    {name: "About", href: "/about"},
    {name: "Contact", href: "/contact"},
]
---
<div class="flex items-center top-0 p-2 overflow-hidden">
    <div class="p-3">
        <a href="/" class="text-4xl font-extrabold poppins">TutorLion</a>
    </div>
    <nav class="ml-auto space-x-3.5 p-6 hidden md:block">
        {links.map(
            link =>
                    <a class="text-black hover:underline" href={link.href}>{link.name}</a>)
        }
    </nav>
</div>

<MobileNav client:media="(max-width: 768px)">
    {
        links.map(
            link =>
                    <div class="p-2">
                        <a class="text-black text-xl active:underline" href={link.href}>{link.name}</a>
                    </div>
        )
    }
</MobileNav>
