---
import {MobileNav} from "./MobileNav.jsx";
import {Image} from "@astrojs/image/components";
import faviconClear from "../../assets/favicon-clear.png";
const links = [
    {name: "Home", href: "/"},
    {name: "Tutors", href: "/tutors"},
    {name: "About", href: "/about"},
    {name: "Contact", href: "/contact"},
]
---
<div class="backdrop-blur-3xl bg-stone-100 sticky z-50 flex items-center divide-x-2 divide-black top-0 p-2 overflow-hidden">
    <div class="p-3 inline-flex space-x-3.5 justify-center items-center mr-2">
        <Image class="invert" src={faviconClear} alt="logo" width="64" height="64" />
        <a href="/" class="text-4xl font-extrabold poppins text-brown">TutorLion</a>
    </div>
    <nav class="space-x-3.5 p-6 hidden md:block">
        {links.map(
            link =>
                    <a class="hover:underline" href={link.href}>{link.name}</a>)
        }
    </nav>
</div>

<MobileNav client:media="(max-width: 768px)">
    {
        links.map(
            link =>
                    <div class="p-2">
                        <a class="text-xl active:underline" href={link.href}>{link.name}</a>
                    </div>
        )
    }
</MobileNav>
